<ion-navbar *navbar>
  <ion-title>
    Ionic Blank
  </ion-title>
</ion-navbar>

<ion-content padding>
  <h1>User Login</h1>
  <form #loginCreds="ngForm" *ngIf="!userProfile">
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" ngControl="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" ngControl="password"></ion-input>
    </ion-item>

    <div padding>
      <button block (click)="doEmailLogin(loginCreds.value)">Login</button>
      <button block (click)="doFacebookLogin()">Login Facebook</button>
      <button block (click)="doRegisterUser(loginCreds.value)">Create Account</button>
    </div>

    <div padding>
      <p *ngIf="error" class="error">Error:&nbsp;{{ error.code }}</p>
    </div>
  </form>

  <div padding *ngIf="userProfile">
    <h3>Name: {{ (userProfile | async)?.displayName }}</h3>
    <h3>URL: {{ (userProfile | async)?.avatar }}</h3>
    <p></p>
    <button (click)="doLogout()">LOGOUT</button>
  </div>
</ion-content>